textarea, select, input, button {
  outline: none; }

body {
  padding-bottom: 20px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding: 71px 15px 15px 15px;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

.input-group input, .input-group textarea, .form-group input, .form-group textarea {
  max-width: 100%; }

.app-navbar {
  z-index: 10000;
  position: fixed;
  width: 100%; }

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%; }

.main-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex: 1; }
  .main-button-container button {
    flex: 1;
    margin: 10px; }

.scan-button {
  width: 100%;
  height: 100px; }

.confirm-button {
  height: 80px;
  margin-bottom: 10px; }

.login-button {
  font-size: 20pt; }

.actions-hr {
  margin: 10px 0px 25px 0px;
  width: 100%;
  border-top: 1px dashed rgba(25, 23, 23, 0.15); }

