@{
    ViewBag.Title = "Receving Item";
}

<h2>@ViewBag.Title</h2>

<div class="page-container">
    <br />
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-barcode"></i> Scan item &nbsp;&nbsp;&nbsp;&nbsp;
            </button>
        </div>
        <input type="text" class="form-control" placeholder="Item code" aria-label="Enter item code">
    </div>
    <br />
    <div class="form-group">
        <label>Purchase Order ID</label>
        <input type="text" class="form-control" placeholder="Purchase Order ID">
    </div>
    <div class="form-group">
        <label>Vendor</label>
        <input type="text" class="form-control" placeholder="Vendor">
    </div>
    <div class="form-group">
        <label>Date received</label>
        <input type="date" max="3000-12-31" min="2000-01-01" class="form-control">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" rows="3" placeholder="Please fill in details about this item"></textarea>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
                <i class="fas fa-barcode"></i> Scan location
            </button>
        </div>
        <input type="text" class="form-control" placeholder="Location code" aria-label="Enter location code">
    </div>
    <br />
    <button class="btn btn-lg btn-primary confirm-button"  onclick="location.href='@Url.Action("Index", "Home")'">CONFIRM</button>
</div>
