@{
    ViewBag.Title = "Item History";
}

<h2>@ViewBag.Title</h2>

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Location</th>
            <th scope="col">User</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>08/15/2018 2:05 PM</td>
            <td>
                <span class="badge badge-primary">Relocate</span>
            </td>
            <td>Cart 21</td>
            <td>Amos Deering</td>
        </tr>
        <tr>
            <td>08/15/2018 3:05 PM</td>
            <td>
                <span class="badge badge-primary">Relocate</span>
            </td>
            <td>Cart 29</td>
            <td>Amos Deering</td>
        </tr>
        <tr>
            <td>08/15/2018 5:00 PM</td>
            <td>
                <span class="badge badge-success">Deploy</span>
            </td>
            <td>Truck 10</td>
            <td>Amos Deering</td>
        </tr>
        <tr>
            <td>08/15/2018 6:00 PM</td>
            <td>
                <span class="badge badge-danger">Return</span>
            </td>
            <td>Cart 15</td>
            <td>Amos Deering</td>
        </tr>
        <tr>
            <td>08/15/2018 7:00 PM</td>
            <td>
                <span class="badge badge-success">Deploy</span>
            </td>
            <td>Truck 7</td>
            <td>Amos Deering</td>
        </tr>
    </tbody>
</table>